@media all and (max-width : 992px) { 
	
	#homepage{ 
		div.main{
			font-size: 3em;
		}
	}
	.name a img{		
		width: 8%;

	}
	#about{ 
		h1{
			font-size: 1.3em;
		}
	}
	label{
		font-size: 1.3em;
	}
	input[type="text"]{
		height: 46px;
	}
	.btt-send{
		width: 100%;
		font-size: 2em;
	}

	input[type="email"]{
		height: 46px;
	}

	span{
		font-size: 1em;
	}
	.title{
		font-size: 1.8em;
	}
	div.icon-item{
		
		font-size: 1.3em;
	}

	[class*="column"] + [class*="column"]:last-child{
		float:left;
	}
	
} 


/******************************/
/*         HOMEPAGE			  */
/******************************/
$pink: #f66c6c;
$background:#E6DAFF;
$orange: #ff8857;
$black:#4f535b;
$background-post:#F4F4F4;
$green: #BADC52;

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
body{
	background-color: $background-post;
	font-family: 'Raleway', sans-serif;
}
.top-text{
	margin-top: 15%; 
	float:right;
}

.bold{
	font-weight: bold;
}

.fa-linkedin{
	color:white;
}

.button.tiny.btt-send{
	background-color:$pink;
	
	font-size: 1em;
}

#dianaonrails{
	font-family: 'Raleway', sans-serif;
	
}
.top-bar-section li:not(.has-form) a:not(.button){
	background:$black;
	line-height: 3.5;
}
.name{
	img{
		width: 9%;
		margin-left: 3%;
	}
}
.top-bar{
	position: fixed;
	left: 0;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 1111;
	background-color:$black;
	
	.top-bar-section ul{
		
		li{
			
			a{
				font-family: 'Raleway', sans-serif;
				font-size: 0.9em;
				height: 50px;
			}
		}
	}
}

.title{
	font-family: 'Abel', sans-serif;
	margin-bottom: 3%;
	font-weight: bold;
	margin-top: 5%;
}

.sub-title{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-bottom: 1%;
	margin-top: 5%;
}
#homepage{
	
	background-image: image-url('desk-background.png');	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color:black;
	height: 680px;
	
	.main{
		font-family: 'Josefin Sans', sans-serif;
		color:$pink;
		font-weight: 700;
		text-align: center;
		font-size: 4.5em;
		margin-bottom: 0;
	}
	.sub{
		font-family: 'Josefin Sans', sans-serif;
		color:white;
		margin-top:2%;
		font-size: 1.5em;
		text-align: center;
	}
	h4{
		font-family: 'Raleway', sans-serif;
		color: white;
		font-size: 2.4em;
		color:$pink;
		font-weight: bold;
	}
	hr{
		width: 60%;
		margin: 0 auto;
		border-color:#9A97A1;
	}
	.sentence{
		margin-top: 8%;
		color:white;
		font-size: 2em;
		text-align: center;	
	}
	.row{
		max-width: 72.5rem;
	}
	font-family: 'Raleway', sans-serif;
	
}
#about{
	background-color: white;
	padding-bottom: 8%;
	h1{
		font-family: 'Abel', sans-serif;
		text-align: center;
		font-size: 2.1em;
		color:$pink;
		padding-top: 4%;
	}

	h2{
		text-align: center;
		font-size: 1.5em;
		font-family: 'Raleway', sans-serif;
	}
	hr{
		width: 41%;
		margin: 0 auto;
		height: 1px;
		border-color: #D3D2D2;
	}
	.about{
		margin-top: 4%;
		p{
			font-size: 1.2em;
			text-align: center;	
		}
	}
	.education{
		margin-bottom: 2%;
		p{
			text-align: justify;
		}
		.img-face{
			img{
				position: relative;
				bottom:20px;
			}
		}
		.collegue{
			float:right;
			.title{
				color:$pink;
				font-family: 'Raleway', sans-serif;
			}
			.date{
				font-style: italic;
			}
		}
		
	}
	#donut-coding{
		height: 270px;
	}

	#donut-ux{
		height: 270px;
	}

	
	.circleBase {
		//border-radius: 50%;
		width: 15px;
	    height: 15px;
	    background: white;
	    border: 2px solid $pink;
	    position: relative;
	    left: 479px;
    }
    .skills{
    	.item{
    		//float:left;
    		margin-top: 4%;
    		margin-bottom: 5%;
    		text-align: center;
    		
    		.chart.easyPieChart{
    			margin: 0 auto;
    		}	
    	}
    }

	.work{
		margin-bottom: 2%;
		margin-top: 2%;
		.title{
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
			margin-bottom: 5%;
			
		}
		.company{
			float:right;
			.title{
				color:$pink;
				font-family: 'Raleway', sans-serif;
			}
			.date{
				font-style: italic;
			}
		}
		.description{
			.job{
				font-weight: bold;
			}
			.content{
				font-size: 1em;
				font-family: 'Raleway', sans-serif; 
			}
		}
	}
}
#services{
	background-color: white;
	padding-bottom: 8%;
	h1{
		font-family: 'Abel', sans-serif;
		text-align: center;
		font-size: 2.1em;
		margin-top: 0;
		color:$pink;
		padding-top: 4%;
	}
	hr{
		width: 41%;
		margin: 0 auto;
		height: 1px;
		border-color: #D3D2D2;
	}
	.whatido{
		margin-bottom: 5%;
		.icon-item{
			text-align: center;
			.description{
				font-size: 0.8em;
			}
			.brainstorm{
				img{
					width: 38%;
					margin-bottom: 2%;
				}
			}
			.design{
				img{
					width: 57%;
					margin-top: 7%;
					margin-bottom: 4%;
				}
			}
			.usertest{
				img{
					width: 100%;
					margin-top: 7%;
					margin-bottom: 10%;
				}
			}
			.code{
				img{
					width: 55%;
					margin-top: 3%;
					margin-bottom: 5%;
				}
			}
			h4{
				font-family: 'Raleway',sans-serif;
				font-weight: 600;
				font-size: 1em;
			}
		}
	}
}
#contacts{
	padding-bottom: 7%;
	
	h1{
		font-family: 'Abel', sans-serif;
		text-align: center;
		font-size: 1.8em;
		color:$pink;
		padding-top: 4%;
	}

	hr{
		width: 41%;
		margin: 0 auto;
		height: 1px;
		border-color: #D3D3D3;
	}
	.success-message{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		color:$green;
		margin-bottom: 5%;
		font-size: 1.3em;
	}
	.description{
		margin-top: 3%;
		margin-bottom: 5%;
		letter-spacing: 1px;
		h4{
			font-family: 'Raleway', sans-serif;
			color:#887676;
			text-align: left;	
		}
		img{
			width:4%;
			height: 3%;
		}	
	}
	
}

/******************************/
/*         BLOG				  */
/******************************/
.blog{
	background-color: $background-post;
	.is-countdown{
		border:none;
		background-color:#f2f2f2;
	}
	h1{
		margin-top: 10%;
		font-size: 45px;
		text-align: center;
		font-family: 'Abel', sans-serif;
		margin-top: 25%;
	}
}
.post{
	background-color: $background-post;
	margin-top:3%;
	padding-top: 3%;
	h1{
		color:#E1545D;
		
		font-family: 'Abel', sans-serif;
	}
	.title{
		margin-top: 0;
		font-size: 4em;
	}
	.content{
		margin-top: 4%;
	}

	.item{
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 3%;
		box-shadow: 2px 2px #e2e0e0;
		width:45%;
		.content{
			padding: 5%;
			z-index: 9999;
		}
		.view-link{
			margin-bottom: 1%;
			a{
				color:#614244;
				font-size: 1.5em;
				
			}
		}
		.field{
			font-size: 1.3em;
			margin-right: 10%;
			color:#AE3C3A;
			float:left;
		}
		.description{
			font-size: 1.4em;
			color:black;
		}
		.date{
			font-size: 12px;
			float:right;
			color:#AE3C3A;
		}
	}
	.showitem{
		margin-bottom: 5%;
		img{
			width: 55%;
			float:right;
			margin-left: 2%;
		}
		.title{
			margin-bottom: 1%;
			text-shadow:none;
		}
	}
}